*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: none;

}
html,body{  
	min-width:600px;
    height: 100%; 
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif; 
}
.login_reg{
	position: relative;
	background-image:url("../images/loginBg.jpg");
	background-size: 100% 100% ;
	/*border: 1px solid red;*/
	height: 100%; 
}
.hide{
	visibility: hidden;
	height: 0!important;
	opacity: 0;
}
.info{
	background: url("../images/info.png") no-repeat;
	padding-left: 5%;
	font-size: 0.8vw;
	display: inline-block;
	width: 15%;
}
.ok{
	background: url("../images/ok.png") no-repeat;
	padding-left: 5%;
	font-size: 0.8vw;
	display: inline-block;
	width: 15%;
}
.error{
	background: url("../images/error.png") no-repeat;
	padding-left: 5%;
	font-size: 0.8vw;
	display: inline-block;
	width: 15%;
}